@import url('https://fonts.googleapis.com/css?family=Almarai&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.d-none{
  display: none;
}

.logo-inside{
width: 30vh;
}
.m-0{
  margin: 0 !important;
}
.mx-20{
  margin-block: 20px !important;
}

.px-20{
  padding-inline: 20px !important;
}
.mx-5{
  margin-inline: 5px !important;
}
.mx-2{
  margin-inline: 2px !important;
}
.btnApp{
  border-radius: 13px;
background: #F29F05;
color: #fff;
border-style: none;
width: 20vh;
height: 5vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 5%;
/* padding-inline: 20vh; */
}
.btnApp:hover{
  background: #F28705;
  cursor: pointer;
  scale: 105%;
}

.btnApp:active{
  background: #F2CB04;
}

.home-header{
background-image: url("./assets/homeScreen/header.png");
background-size: cover;
}
.service-bg{
  background: linear-gradient(180deg, #15453D 0%, rgba(21, 69, 61, 0.00) 100%);
  /* background-size: cover; */
}

.headTitle{
  color: #F29F05;
text-align: center;
padding-top: 10vh;
font-weight: 800;
font-size: 6vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.flex-col-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-col-start{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.flex-col-end{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.lil-size{
  min-height: 70vh !important;
}
.footer-size{
  min-height: 50vh !important;
}
.w-80{
  width: 80% !important;
}
.bg-test{
  background-color: aqua;
}
.font{
  font-family: 'Almarai', sans-serif;
}
.text-center{
  text-align: center!important ;
}
.redtxt{
  margin-top: 5px;
  color: #F23030;
}
.text{
  font-size: calc(5px + 2vmin);
}
.App-link {
  color: #61dafb;
}
.align-start{
  align-items: flex-start!important;;
}
.justfy-start{
  justify-content: start!important ;;
}
.mt-25{
  margin-top: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.w-80-responsive{
  width: auto;
}
.mb-5{
  margin-bottom: 5px;
}

.directionAr{
  direction : rtl;
}
.directionnonAr{
  direction : ltr !important;
}
 @media screen and (max-width: 991px) {
  .w-80-responsive{
    width: 80% !important;
  }
  
}

.normal-text{
  font-size: 2vh;
  line-height: 3vh;
}
.normal-normal-text{
  font-size: 2.5vh;
  line-height: 6vh;
  
}
.bold-text{
  font-size: 2.5vh;
  font-weight: bold;
}
.bold-bold-text{
  font-size: 4vh;
  font-weight: bold;
}
li{
  margin-top: 10px;
}
.rounded{
  border-radius: 10000000px;
}
.bg-whyus{
  background-image: url("./assets/homeScreen/Vedioscreen.png");
  background-size: cover;
  width: 50vh;
  height: 50vh;
}

.whous-bg{
  background: #15453D;
}

.formInput{
  border-color: #F29F05;
  width:50vh;
  font-size: 2.5vh;
}

.formInput:hover{
  border-color: #F28705;
}
.formInput:active{
  border-color: #F2CB04;
}


.navbar {
	background: #15453D !important;
}

.navbar.colorChange {
	background-color: #000;
}


.logoNav{
  width: 10vh;
  margin: 1vh;
}

.footerbg{
  border-radius: 24px 24px 0px 0px;
background: rgba(4, 15, 13, 0.92);
width: 100%;
}